* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --animation-duration: 2s;
}

body {
    animation-name: body;
    animation-duration: var(--animation-duration);
}

.container-out {
    background-image: linear-gradient(90deg, #6EDAC2, #8CE2DF);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    color: #FFFFFF;
    animation-name: container-out;
    animation-duration: var(--animation-duration);
    height: 100vh;
    overflow: hidden;
}

.container-in {
    display: flex;
    animation-name: container-in;
    animation-duration: var(--animation-duration);
}

.container__logo {
    min-width: 450px;
    height: 100vh;
}
.container__form {
    width: 450px;
    height: 100vh;
}

.container__logo {
    background-image: linear-gradient(90deg, #29E6BE, #5BF4EF);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container__logo;
    animation-duration: var(--animation-duration);
}

.hex {
    height: 0;
    width: 185px;
    border-top: 75px solid white;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    position: relative;
}

.hex::after {
    content: '';
    height: 0;
    width: 85px;
    border-bottom: 75px solid white;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    position: absolute;
    bottom: 75px;
    left: -50px;
}

.hex__logo {
    position: absolute;
    top: -135px;
    right: -15px;
    color: black;
    z-index: 99;
    width: 115px;
    height: 115px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex__desc {
    text-align: center;
}

.container__form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #32425B;
    animation-name: container__form;
    animation-duration: var(--animation-duration);
}

.container__form h1 {
    text-align: center;
    text-transform: uppercase;
}

.container__form h3 {
    color: #259C95;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.container__form input[type=text] {
    display: block;
    width: 100%;
    outline: 0;
    background-color: transparent;
    border: 1px solid #999;
    padding: 8px;
}

.container__item div {
    margin-top: 10px;
    margin-bottom: 5px;
}

.container__item label[for=agreement] {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 10px;
}

.container__item label[for=agreement] div {
    margin-top: 0;
    margin-bottom: 0;
}


input[type=checkbox] {
    display: block;
    margin-right: 15px;
}

button {
    background-color: #1ED5B9;
    outline: 0;
    border: 0;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.container__last-text {
    color: #999;
    font-size: 10px;
    text-align: center;
}

.container__line {
    margin: 10px 100px;
    height: 1px;
    background-color: #999;
}

/* 

ANIMATION

*/

@keyframes container-out  {
    0% {
        height: 100vh;
        
    }

    33% {
        height: 100vh;
    }

    66% {
        height: 100vh;
    }

    100% {
        height: 100vh;
    }
}


@keyframes container-in {
    0% {
        max-width: 450px;
        overflow: hidden;
        position: absolute;
        top: -1000px;
    }
    
    33% {
        max-width: 450px;
        overflow: hidden;
        position: absolute;
        top: 0;
        
        
    }

    66% {
        max-width: 450px;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    100% {
        max-width: 900px;
    }
}

@keyframes container__logo {
    0% {
        min-width: 450px;
        
    }

    33% {
        min-width: 450px;
        
    }
    
    66% {
        min-width: 450px;
        
    }

    100% {
        
    }
}

@keyframes container__form {
    0% {
        
        
    }

    33% {
        
    }
    
    66% {
        
        
    }

    100% {
        
    }
       
}